body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    opacity: 85%;
}
.divtext{
    text-align: center;
    padding: 90px 50px;
    color: black;
}
.divtext h1{
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 3px;
}
.divtext p{
    font-size: 20px;
}
.ban{
    color: white;
}

.link-button{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 77, 71);
    padding: 15px 25px;
    border-radius: 5%;
    font-size: 20px;
}
.flexible-container{
    display: flex;
    justify-content: center;
}
.flex-div{
    font-size: 25px;
    padding: 18px 18px;
    margin: 20px;
    border-radius: 10px ;
    background-color: rgb(245, 241, 241);
    color: gray;
}
#unique-one{
    color: tomato;
    background-color:rgb(252, 222, 222);
    border-style: solid;
    border-color: crimson;
}
hr{
    color: rgb(129, 124, 124);
    width: 50%;
}
.input-amount{
    border: 0ch;
    font-size: large;
    color: gray;
}
.flex-div2{
    font-size: 25px;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px ;
    text-align: left;
}
#food{
    background-color:rgb(226, 235, 245);
}
#shelter{
    background-color:rgb(253, 240, 240);
}
#education{
    background-color: rgb(252, 239, 223);
}
footer{
    background-color: rgb(22, 22, 31);
    height: 100px;
    text-align: center;
    padding:45px;
}
.fheading{
    color: tomato;
    font-family: 'Lobster', cursive;
}
.fparagaraph{
    color: white;
}
.form-div{
    height: 500px;
    text-align: center;
}
.form-div h1{
    font-size: 50px;
}
form{
    margin-top: 20%;
    background-color: rgb(252, 242, 229);
    padding: 100px 250px;
    align-items: center;
    display: inline;
}
.btn{
    background-color: rgb(252, 111, 86);
    border: none;
    padding: 20px 40px;
    color: white;
    border-radius: 0px 8px 8px 0px;
    display: inline;
    margin: 0;
}
.mail{
   border: none; 
   padding: 20px 40px;
   background-color: rgb(221, 214, 214);
   color: gray;
   outline: none;
   margin:-6px;
   border-radius: 8px 0px 0px 8px; /*top left top right bottom right bottom left */
   display: inline;
}
.icon{
    height: 50px;
    width: 50px;
}
.flex-div3{
    font-size: 25px;
    box-shadow: 10px 10px 40px grey;
    border-top: 20px solid tomato;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px ;
    text-align: left;
}
.event-iamge{
    height: 300px;
    width: 300px;
    padding-left: 10px; 
}
.events{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
    
}