body{
    font-family: 'Lato', sans-serif;
/* font-family: 'Poppins', sans-serif; */
    text-align: center;
    color: white;
}
.banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}