body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
.banner{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    opacity: 85%;
}
.divtext{
    text-align: center;
    padding: 50px 50px;
    color: black;
}
.divtext h1{
    font-weight: 700;
    font-size: 70px;
}
.divtext p{
    font-size: 20px;
}
.ban{
    color: white;
}

.link-button{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 77, 71);
    padding: 15px 25px;
    border-radius: 5%;
    font-size: 20px;
}
.flexible-container{
    display: flex;
}
.flex-div{
    font-size: 25px;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px ;
    background-color: rgb(245, 241, 241);
    color: gray;
}
#unique-one{
    color: tomato;
    background-color:rgb(252, 222, 222);
    border-style: solid;
    border-color: crimson;
}
hr{
    color: rgb(129, 124, 124);
    width: 50%;
}
.input-amount{
    border: 0ch;
    font-size: large;
    color: gray;
}
.flex-div2{
    font-size: 25px;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px ;
    text-align: left;
}
#food{
    background-color:rgb(211, 222, 235);
}
#shelter{
    background-color:rgb(252, 222, 222);
}
#education{
    background-color:rgb(236, 185, 217);
}
footer{
    background-color: rgb(22, 22, 31);
    height: 100px;
    text-align: center;
    padding:45px;
}
.fheading{
    color: tomato;
    font-family: 'Lobster', cursive;
}
.fparagaraph{
    color: white;
}
.form-div{
    height: 500px;
    text-align: center;
}
.form-div h1{
    font-size: 70px;
}
/* .get-update{
    text-align: center;
} */
form{
    margin-top: 20%;
    background-color: antiquewhite;
    padding: 100px 250px;
    align-items: center;
    display: inline;
}
.btn{
    background-color: tomato;
    border: none;
    padding: 20px 40px;
    color: white;
    border-radius: 5%;
    display: inline-block;
    margin: 0;
}
.mail{
   border: none; 
   padding: 20px 40px;
   background-color: rgb(221, 214, 214);
   color: gray;
   display: inline-block;
   outline: none;
   margin:0;
}